<!DOCTYPE html>
<html>
<head>
	<meta name = "注册界面" charset="utf-8" content="content">
	<link rel="stylesheet" type="text/css" href="../../static/css/login.css">
	<script src="../../static/js/checkPassword.js" type="text/javascript" charset="utf-8"></script>
	<title>用户注册界面</title>
</head>
<body>
	<div id = "title">
		<p>夏季小学期实践</p>
	</div>

	<div id = "main">

		<div id = "showimage">
			<h1>预留区域</h1>
		</div>
		
		<div id = "login">
			{% if message %}
		<p style="color:red">{{ message }}</p>
	{% endif %}

			<form action="/signin" method="post" onsubmit="return check(this)">

    			<legend>Sign In: </legend>

		    	<p>用户名:{{ form.userName(placeholder='yourUsername') }}</p>
		    	<p>邮箱:{{ form.email(placeholder='yourname@email.com') }}</p>
		    	<p>密码:{{ form.password(placeholder='yourpassword') }}</p>
		    	<p>再次确认密码:{{ form.confirmpassword }}</p>
		    	<p>{{ form.csrf_token }}</p>

		    	<p><input type="submit" value="Sign In"></p>
			</form>
		</div>
		
	</div>

</body>
</html>